{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css ADD HERE-->
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    <style>
    {% block css %}{% endblock css %}
    </style>
    <!-- semantic UI -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% comment %} jQuery ui cdn {% endcomment %}
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>

    <title>
      onlineAG - {% block title %}{% endblock title %}
    </title>
  </head>
  <body>
  {% comment %} {% include "main/navbar.html" %} {% endcomment %}
   
      {% block content %} {% endblock content %}
    

    {% block scripts %} {% endblock scripts %}

    <!--Custom js ADD HERE-->
    <script type="text/javascript" src={% static 'main.js' %}></script>
  </body>
</html>
