{% comment %}
This login template is automatically
called when the user visits the login page. or /login url
{% endcomment %}
# login.html {% extends "base.html" %} {% block title %}
Login Here {% endblock %}

 {% comment %} {% load crispy_forms_tags %}  {% endcomment %}

{% block content %}
<form method="post" class="from-group">
  {% csrf_token %}
  {% comment %}  {{form|crispy}} {% endcomment %}
  {{form}}

  <p>
    Don't have an accoount? Create one
    <a href="/signup">here</a>
  </p>
  <button type="submit" class="btn btn-success">
    Login
  </button>
</form>
{% endblock %}
