
<div id="navbar">
<header class="mainHeader">
        <div class="logo">
            <a href="#">LOGO</a>
        </div>
        <input type="checkbox" class="menuBtn" id="menuBtn">
            <label for="menuBtn" class="menuIcon">
                <span class="menuIconLine"></span>
            </label>
        <ul class="navLinks">
            <li class="navLink">
                <a href="#">About</a>
            </li>
            <li class="navLink">
                <a href="#">Protfolio</a>
            </li>
            <li class="navLink">
                <a href="#">Services</a>
            </li>
            <li class="navLink">
                <a href="#">contact</a>
            </li>
        </ul>
    
    </header>
  
</div>