*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.card-container {
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  padding: 2rem;
  grid-template-columns: [left-start] repeat(5, [col-start] minmax(min-content, 1fr) [col-end]) [right-end];
  grid-auto-rows: min-content; }
  @media only screen and (max-width: 75em) {
    .card-container {
      grid-template-columns: [left-start] repeat(4, [col-start] minmax(min-content, 1fr) [col-end]) [right-end]; } }
  @media only screen and (max-width: 120em) {
    .card-container {
      grid-template-columns: [left-start] repeat(4, [col-start] minmax(min-content, 1fr) [col-end]) [right-end]; } }

.btn, .btn:link, .btn:visited {
  background-color: #ff7730;
  text-transform: uppercase;
  text-decoration: none;
  /* 
          note: here inline-block will occupy only the required space 
          note: so the width and height is not given
          req: padding is given so that it will occupy more space 
          req: big border radious so that rounded side of the button can occur
          */
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  /* 
  
          */
  transition: all 0.2s;
  /* 
          
          */
  font-size: 1.6rem;
  /*
          req: <button> has border by defaut so you need to remove 
          * and also adding cursor when you place mouse
          */
  border: none;
  outline: none;
  cursor: pointer; }

.btn--white {
  color: #fff; }

.card {
  backface-visibility: hidden;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 1.2rem 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.25), -0.8rem -0.8rem 1.2rem 0 rgba(255, 255, 255, 0.3); }
  .card__item {
    margin: 0;
    padding: 0;
    width: 36rem;
    height: 50vh;
    width: 100%; }
  .card__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    scale: 1;
    transition: scale cubic-bezier(0.24, 0.88, 0.51, 0.92) 0.5s; }
  .card__top {
    display: none;
    opacity: 0;
    transition: all cubic-bezier(0.24, 0.88, 0.51, 0.92) 1s;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10; }
  .card__add-to-cart {
    position: absolute;
    top: 1rem;
    left: 21rem;
    z-index: 100; }
  .card__name {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%; }
  .card__heading-center {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.4); }
  .card__detail {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 20rem 3.6rem 1fr;
    column-gap: 2rem; }
  .card__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 247, 246, 0.8);
    border-radius: 20rem; }
    .card__rating > * {
      color: gold !important;
      font-size: 3rem !important;
      display: block !important;
      line-height: auto !important;
      height: auto !important;
      margin: 0 !important;
      line-height: 1 !important; }
  .card__author {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border-color: #777;
    border: 2px solid;
    overflow: hidden; }
    .card__author__img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover; }
  .card:hover .card__img {
    scale: 1.05;
    filter: brightness(0.9); }
  .card:hover .card__top {
    display: block;
    opacity: 1; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
