{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}


{% block content %}
    <form method="POST" class="ui form">
	{% csrf_token %}
	
	{% comment %} {{ form }} {% endcomment %}
	{{ form.non_field_errors }}
	<div class="field">
    {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}
	<div class="field">
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
	<div class="field">
    {{ form.password1.errors }}
    <label for="{{ form.password1.id_for_label }}">Password:</label>
    {{ form.password1 }}
	<div class="field">
    {{ form.password2.errors }}
    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
    {{ form.password2 }}
</div>
</div>
</div>
</div>

	<button type="submit" class="ui button primary">Register</button>
    </form>
{% endblock %}