{% extends 'base.html' %}

{% block content %}
<div class="ui container">
{% if is_artist and is_exhibition %}
<a class="ui button primary" href="{% url 'exhibition:add-art' %}">Add Art</a>
{% endif %}
{% if not is_exhibition %}
<h1 class="ui header blue aligned center">No exhibition currently availbale</h1>
{% endif %}
{% if request.user.is_superuser %}
<a class="ui button primary" href="{% url 'exhibition:manage-exhibition' %}">Manage Exhibition hall</a>
{% endif %}
</div>
<br>
<div class="ui container">
<div class="ui grid three column">
{% for art in arts %}
    <a id="art" class="column" href={% url 'exhibition:art-showcase' art.id %} >
    <figure>
    <img style="height:25vh; width:auto;"class="ui image fluid  segment raised"src="{{MEDIA_URL}}{{art.photo}}" alt="" srcset="">
    <figcaption id="art__name"class="ui small header green center aligned">
    {{art.name}}
    </figcaption>
    </figure>
    </a>


{% endfor %}
</div>

</div>
{% endblock content %}

{% block script %}
<script>
$(document).ready(function(){

$("#art").css({
    positon:"relative",
});
$("#art__name").css({
    position:"absolute",
});


})
</script>
{% endblock script %}