{% extends 'base.html' %}

{% block title %}
artGallery
{% endblock title %}

{% block content %}


{% for art in arts %}

<div class="ui segment">
        <div class="ui grid">
                <div class="row">
                        <div class="four wide column">
                        <img class="disabled centered circular ui image" src="{{MEDIA_URL}}{{art.photo1}}">
                        </div>
                        <div class="twelve wide column">
                                <h2 class="ui header">
                                <i class=" user icon"></i>
                                {{art.art_name}}
                                </h2>
                        </div>
                </div>
        </div>
{% empty %}
<div class="ui text container">
<h1>no arts</h1>
</div>
        
        
{% endfor %}
</div>
</div>
{% comment %} </div> {% endcomment %}
{% endblock content %}