{% extends 'base.html' %}

{% block title %}
artGallery
{% endblock title %}

{% block content %}
{% comment %} <div class="ui text container"> {% endcomment %}
<div class="ui three column grid">
{% for art in arts %}


        <div class="column">
                <div class="ui card">
                        <div class="content">
                        <div class="right floated meta">{{art.date_updated}}</div>
                        <img class="ui avatar image" src="{{MEDIA_URL}}{{art.photo1}}">
                       {{art.art_name}}
                        </div>
                        <div class="image">
                        <img src="{{MEDIA_URL}}{{art.photo2}}">
                        </div>
                        <div class="content">
                        <span class="right floated">
                        <i class="heart outline like icon"></i>
                        17 likes
                        </span>
                        <i class="archive icon"></i>
                        3 comments
                        </div>
                        <div class="extra content">
                        <div class="ui large transparent left icon input">
                        <i class="heart outline icon"></i>
                        <input type="text" placeholder="Add Comment...">
                        </div>
                        </div>
                        </div>
         </div>    
                {% empty %}
                <div class="ui text container">
                <h1>no arts</h1>
                </div>
        
        
                
        {% endfor %}
        </div>
{% comment %} </div> {% endcomment %}
{% endblock content %}